<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon"> 
    <script src="/js/sea.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet" charset="utf-8">  
    <link href="/css/font-awesome.min.css" rel="stylesheet" charset="utf-8">
    <link href="/css/custom.css" rel="stylesheet" charset="utf-8">
    <script src="/static/seaconfig.js"></script>
</head>

<body>
    <div class="col-main">
    测试跳转页面 44444444444444444444444444444444 
    </div>
    <script type="text/javascript">
       
    </script>
</body>
</html>
